* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0);
}
#top {
  width: 100%;
  height: 15%;
  background-color: rgba(0, 128, 105, 255);
}

#UTop {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#UTopR h2 {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-weight: 900;
  color: white;
  margin-left: 10px;
}

#UTopL i {
  color: white;
  margin-right: 10px;
  font-size: 25px;
}

#DTop {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  justify-content: space-between;
  align-items: center;
}

#DTop div {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

#Bottom {
  width: 100%;
  height: 85%;
  background-color: rgba(255, 255, 255, 255);
}

#UBottom {
  width: 100%;
  height: 30%;
}

#BTT {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40%;
}

#BTT div {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 15px;
}

#BTM {
  width: 100%;
  height: 40%;
  display: flex;
}

#BTM #R {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#R img {
  height: 80%;
  margin-left: 10px;
}

#BTM #L {
  width: 75%;
  height: 100%;
  align-items: center;
}

#L p {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: 24px;
  margin-top: 20px;
  margin-left: 5px;
  line-height: 0.3;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

#BTM #L p:nth-child(2) {
  opacity: 0.6;
  font-size: 20px;
}

#BTD {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

#BTD div {
  margin-left: 10px;
  margin-right: 10px;
  opacity: .7;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

#MBottom {
  width: 100%;
  height: 40%;
}

#MBT{
  width: 100%;
  height: 40%;

}

#MBTup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#MBTup div{
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.3;
  font-weight: 501;
  color: rgb(0, 0, 0);
}

#MBTdown{
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 1.3;
  font-weight: 500;
  color: rgb(0, 0, 0);
  opacity: .6;
}

#MBD{
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 33% 33% 33% ;
  justify-content: space-around;
  align-items: center;
}

.card{

  margin-left: 5px;
  margin-right: 33px;
  height: 100%;
  width: 95%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 15%;
}

#card1{
  background-image: url(img/whatsapp.png);
  background-size: 100%;
  background-repeat: no-repeat;
  
}

#card2{
  background-image: url(img/Star\ Sports\ India.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#card3{
  background-image: url(img/Firstpost.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#DBottom {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-rows: 30% 40% 40%;
}

#Explore{
    width: 40%;
    height: 70%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(0, 128, 105, 255);
    margin-top: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#Create img{
  width: 11%;
  margin-top: 5%;
  margin-left: 85%;
}
#Camera img{
  width: 13%;
  margin-left: 84%;
}




